<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.glaemfdjd.sign">
	<select id="selectIdAndPw" parameterType="String" resultType="com.cafe24.glaemfdjd.emp.domain.EmpDto">
		select emp_code, emp_password from emp where emp_code = #{emp_code};
	</select>
</mapper>