<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="true" xmlns:log4j="http://jakarta.apache.org/log4j/">

<!-- <appender name="SAEMUL" class="org.apache.log4j.DailyRollingFileAppender"> -->
<!-- <param name="File" value="/LOGS/smb/sa/sa_${saiId}_${num}.log" /> -->
<!-- <param name="Encoding" value="UTF-8" /> -->
<!-- <param name="DatePattern" value="'.'yyyy-MM-dd" /> -->
<!-- <param name="ImmediateFlush" value="true" /> -->
<!-- <param name="Append" value="true" /> -->
<!-- <layout class="org.apache.log4j.PatternLayout"> -->
<!-- <param name="ConversionPattern" value="%d{ABSOLUTE} %5p [%c{1}:%L] - %m%n" /> -->
<!-- </layout> -->
<!-- </appender> -->
<!-- <appender name="SASTATISTICS" class="org.apache.log4j.DailyRollingFileAppender"> -->
<!-- <param name="File" value="/LOGS/smb/statistics_sa/statistics_sa_${saiId}_${num}.log" /> -->
<!-- <param name="Encoding" value="UTF-8" /> -->
<!-- <param name="DatePattern" value="'.'yyyy-MM-dd" /> -->
<!-- <param name="ImmediateFlush" value="true" /> -->
<!-- <param name="Append" value="true" /> -->
<!-- <layout class="org.apache.log4j.PatternLayout"> -->
<!-- <param name="ConversionPattern" value="%d{ABSOLUTE} %5p [%c{1}:%L] - %m%n" /> -->
<!-- </layout> -->
<!-- </appender> -->

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Encoding" value="UTF-8" />
		<param name="ImmediateFlush" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %5p [%c{1}:%L] - %m%n" />
		</layout>
	</appender>
	<!-- Application Loggers -->
<!-- 	<logger name="com.tiles.setting"> -->
<!-- 		<level value="info" /> -->
<!-- 	</logger> -->
	<logger name="com.sds.smb.component">
		<level value="DEBUG" />
		<appender-ref ref="SAEMUL" />
	</logger>
	<logger name="com.sds.smb.net">
		<level value="INFO" />
		<appender-ref ref="SAEMUL" />
	</logger>
	<logger name="com.sds.smb.log.statistics">
		<level value="DEBUG" />
		<appender-ref ref="SASTATISTICS" />
	</logger>
	<logger name="org.springframework">
		<level value="INFO" />
		<appender-ref ref="SAEMUL" />
	</logger>
	<root>
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
	</root>
</log4j:configuration> 